/* .navbar-nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
} */
/* .menu-bar ul {
  display: flex;
  justify-content: space-around;
} */
.menu-bar ul > li {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}
.menu-bar ul > li:hover {
  color: blue;

  border-bottom: 2px solid blue;
}
.logo {
  width: 60px;
  height: 60px;
}
.tooltip {
  position: relative;
}

.avatar-logo-user {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}
.tooltip-text {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  background-color: #000;
  color: white;
  white-space: nowrap;
  padding: 8px 15px;
  border-radius: 7px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  z-index: 99;
}
.tooltip-text::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
.tooltip:hover .tooltip-text {
  top: 120%;
  visibility: visible;
  opacity: 1;
}

.avatar-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
input:checked ~ .dot {
  transform: translateX(100%);
  background-color: #48bb78;
}
.active {
  color: blue;
  padding-bottom: 8px;
  border-bottom: 2px solid blue;
}
